/* Annimex Custom Icon CSS */
@font-face {
    font-family: annimex-icons;
    src: url(../fonts/annimex-icons0f29.eot?fq2zl9);
    src: url(../fonts/annimex-icons0f29.eot?fq2zl9#iefix)
            format("embedded-opentype"),
        url(../fonts/annimex-icons0f29.ttf?fq2zl9) format("truetype"),
        url(../fonts/annimex-icons0f29.woff?fq2zl9) format("woff"),
        url(../fonts/annimex-icons0f29.svg?fq2zl9#annimex-icons) format("svg");
    font-weight: 400;
    font-style: normal;
}
.anm {
    font-family: annimex-icons !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.anm:hover,
.icon:hover {
    text-decoration: none;
}
.anm-sort:before {
    content: "\ea0a";
}
.anm-step-forward:before {
    content: "\ea11";
}
.anm-step-forward-r:before {
    content: "\eb33";
}
.anm-an-double-down:before {
    content: "\eb62";
}
.anm-an-double-left:before {
    content: "\eb63";
}
.anm-an-double-right:before {
    content: "\eb64";
}
.anm-an-double-up:before {
    content: "\eb65";
}
.anm-angle-down:before {
    content: "\e902";
}
.anm-angle-down-r:before {
    content: "\ea45";
}
.anm-angle-down-l:before {
    content: "\eb66";
}
.anm-angle-left:before {
    content: "\e903";
}
.anm-angle-left-r:before {
    content: "\ea46";
}
.anm-angle-left-l:before {
    content: "\eb67";
}
.anm-angle-right:before {
    content: "\e904";
}
.anm-angle-right-r:before {
    content: "\ea47";
}
.anm-angle-right-l:before {
    content: "\eb68";
}
.anm-angle-up:before {
    content: "\e905";
}
.anm-angle-up-r:before {
    content: "\ea48";
}
.anm-angle-up-l:before {
    content: "\eb69";
}
.anm-arrow-ac-down:before {
    content: "\e906";
}
.anm-arrow-acr-down:before {
    content: "\ea49";
}
.anm-arrow-ac-left:before {
    content: "\e907";
}
.anm-arrow-acr-left:before {
    content: "\ea4a";
}
.anm-arrow-ac-right:before {
    content: "\e908";
}
.anm-arrow-acr-right:before {
    content: "\ea4b";
}
.anm-arrow-ac-up:before {
    content: "\e909";
}
.anm-arrow-acr-up:before {
    content: "\ea4c";
}
.anm-arrow-alt-down:before {
    content: "\e90a";
}
.anm-arrow-ar-down:before {
    content: "\ea4d";
}
.anm-arrow-al-down:before {
    content: "\eb6e";
}
.anm-arrow-alt-left:before {
    content: "\e90f";
}
.anm-arrow-ar-left:before {
    content: "\ea4e";
}
.anm-arrow-al-left:before {
    content: "\eb6f";
}
.anm-arrow-alt-right:before {
    content: "\e910";
}
.anm-arrow-ar-right:before {
    content: "\ea4f";
}
.anm-arrow-al-right:before {
    content: "\eb70";
}
.anm-arrow-as-down:before {
    content: "\e911";
}
.anm-arrow-asr-down:before {
    content: "\ea50";
}
.anm-arrow-as-left:before {
    content: "\e912";
}
.anm-arrow-asr-left:before {
    content: "\ea51";
}
.anm-arrow-as-right:before {
    content: "\e913";
}
.anm-arrow-asr-right:before {
    content: "\ea52";
}
.anm-arrow-as-up:before {
    content: "\e914";
}
.anm-arrow-asr-up:before {
    content: "\ea53";
}
.anm-arrow-alt-to-left:before {
    content: "\e916";
}
.anm-arrow-alt-to-right:before {
    content: "\e917";
}
.anm-arrow-alt-up:before {
    content: "\e919";
}
.anm-arrow-ar-up:before {
    content: "\ea54";
}
.anm-arrow-al-up:before {
    content: "\eb72";
}
.anm-arrow-circle-down:before {
    content: "\e91a";
}
.anm-arrow-cir-down:before {
    content: "\ea55";
}
.anm-arrow-cil-down:before {
    content: "\eb73";
}
.anm-arrow-circle-left:before {
    content: "\e91b";
}
.anm-arrow-cir-left:before {
    content: "\ea56";
}
.anm-arrow-cil-left:before {
    content: "\eb74";
}
.anm-arrow-circle-right:before {
    content: "\e91c";
}
.anm-arrow-cir-right:before {
    content: "\ea57";
}
.anm-arrow-cil-right:before {
    content: "\eb75";
}
.anm-arrow-circle-up:before {
    content: "\e91d";
}
.anm-arrow-cir-up:before {
    content: "\ea58";
}
.anm-arrow-cil-up:before {
    content: "\eb76";
}
.anm-arw-down:before {
    content: "\ea59";
}
.anm-arrow-s-down:before {
    content: "\f063";
}
.anm-arw-left:before {
    content: "\ea5a";
}
.anm-arrow-s-left:before {
    content: "\f060";
}
.anm-arw-right:before {
    content: "\ea5b";
}
.anm-arrow-s-right:before {
    content: "\f061";
}
.anm-arrow-sq-down:before {
    content: "\e92a";
}
.anm-arrow-sql-down:before {
    content: "\eb79";
}
.anm-arrow-sq-left:before {
    content: "\e92b";
}
.anm-arrow-sql-left:before {
    content: "\eb7a";
}
.anm-arrow-sq-right:before {
    content: "\e92c";
}
.anm-arrow-sql-right:before {
    content: "\eb7b";
}
.anm-arrow-sq-up:before {
    content: "\e92d";
}
.anm-arrow-sql-up:before {
    content: "\eb7c";
}
.anm-arw-up:before {
    content: "\ea60";
}
.anm-arrow-s-up:before {
    content: "\f062";
}
.anm-arrows-alt-h:before {
    content: "\e927";
}
.anm-arrows-alt-v:before {
    content: "\e928";
}
.anm-arrows-alt:before {
    content: "\eb78";
}
.anm-arrows2:before {
    content: "\eb77";
}
.anm-caret-circle-down:before {
    content: "\e945";
}
.anm-caret-cir-down:before {
    content: "\ea71";
}
.anm-caret-circle-left:before {
    content: "\e946";
}
.anm-caret-cir-left:before {
    content: "\ea72";
}
.anm-caret-circle-right:before {
    content: "\e947";
}
.anm-caret-cir-right:before {
    content: "\ea73";
}
.anm-caret-circle-up:before {
    content: "\e948";
}
.anm-caret-cir-up:before {
    content: "\ea74";
}
.anm-caret-down:before {
    content: "\e949";
}
.anm-caret-r-down:before {
    content: "\ea75";
}
.anm-caret-l-down:before {
    content: "\eb85";
}
.anm-caret-left:before {
    content: "\e94a";
}
.anm-caret-r-left:before {
    content: "\ea76";
}
.anm-caret-l-left:before {
    content: "\eb86";
}
.anm-caret-right:before {
    content: "\e94b";
}
.anm-caret-r-right:before {
    content: "\ea77";
}
.anm-caret-l-right:before {
    content: "\eb87";
}
.anm-caret-sq-down:before {
    content: "\e94c";
}
.anm-caret-sqr-down:before {
    content: "\ea78";
}
.anm-caret-sq-left:before {
    content: "\e94d";
}
.anm-caret-sqr-left:before {
    content: "\ea79";
}
.anm-caret-sq-right:before {
    content: "\e94e";
}
.anm-caret-sqr-right:before {
    content: "\ea7a";
}
.anm-caret-sq-up:before {
    content: "\e94f";
}
.anm-caret-sqr-up:before {
    content: "\ea7b";
}
.anm-caret-up:before {
    content: "\e950";
}
.anm-caret-r-up:before {
    content: "\ea7c";
}
.anm-caret-l-up:before {
    content: "\eb88";
}
.anm-chevron-circle-down:before {
    content: "\e957";
}
.anm-chevron-cir-down:before {
    content: "\ea82";
}
.anm-chevron-cil-down:before {
    content: "\eb8e";
}
.anm-chevron-circle-left:before {
    content: "\e958";
}
.anm-chevron-cir-left:before {
    content: "\ea83";
}
.anm-chevron-cil-left:before {
    content: "\eb8f";
}
.anm-chevron-circle-right:before {
    content: "\e959";
}
.anm-chevron-cir-right:before {
    content: "\ea84";
}
.anm-chevron-cil-right:before {
    content: "\eb90";
}
.anm-chevron-circle-up:before {
    content: "\e95a";
}
.anm-chevron-cir-up:before {
    content: "\ea85";
}
.anm-chevron-cil-up:before {
    content: "\eb91";
}
.anm-ch-double-down:before {
    content: "\e95b";
}
.anm-ch-doublel-down:before {
    content: "\eb92";
}
.anm-ch-double-left:before {
    content: "\e95c";
}
.anm-ch-doublel-left:before {
    content: "\eb93";
}
.anm-ch-double-right:before {
    content: "\e95d";
}
.anm-ch-doublel-right:before {
    content: "\eb94";
}
.anm-ch-double-up:before {
    content: "\e95e";
}
.anm-ch-doublel-up:before {
    content: "\eb95";
}
.anm-chevron-down:before {
    content: "\e95f";
}
.anm-chevron-r-down:before {
    content: "\ea8a";
}
.anm-chevron-l-down:before {
    content: "\eb96";
}
.anm-chevron-left:before {
    content: "\e960";
}
.anm-chevron-r-left:before {
    content: "\ea8b";
}
.anm-chevron-l-left:before {
    content: "\eb97";
}
.anm-chevron-right:before {
    content: "\e961";
}
.anm-chevron-r-right:before {
    content: "\ea8c";
}
.anm-chevron-l-right:before {
    content: "\eb98";
}
.anm-chevron-square-down:before {
    content: "\e962";
}
.anm-chevron-sqr-down:before {
    content: "\ea8d";
}
.anm-chevron-sql-down:before {
    content: "\eb99";
}
.anm-chevron-square-left:before {
    content: "\e963";
}
.anm-chevron-sqr-left:before {
    content: "\ea8e";
}
.anm-chevron-sql-left:before {
    content: "\eb9a";
}
.anm-chevron-square-right:before {
    content: "\e964";
}
.anm-chevron-sqr-right:before {
    content: "\ea8f";
}
.anm-chevron-sql-right:before {
    content: "\eb9b";
}
.anm-chevron-square-up:before {
    content: "\e965";
}
.anm-chevron-sqr-up:before {
    content: "\ea90";
}
.anm-chevron-sql-up:before {
    content: "\eb9c";
}
.anm-chevron-up:before {
    content: "\e966";
}
.anm-chevron-r-up:before {
    content: "\ea91";
}
.anm-chevron-l-up:before {
    content: "\eb9d";
}
.anm-expand-arrows:before {
    content: "\e983";
}
.anm-expand-arrows-alt:before {
    content: "\e984";
}
.anm-expand-arwsr-alt:before {
    content: "\eab0";
}
.anm-expand-arwsl-alt:before {
    content: "\ebb1";
}
.anm-expand-r-arrows:before {
    content: "\eaaf";
}
.anm-expand-l-arrows:before {
    content: "\ebb0";
}
.anm-location-arrow:before {
    content: "\eacf";
}
.anm-long-arrow-down:before {
    content: "\e9b9";
}
.anm-long-arrow-left:before {
    content: "\e9ba";
}
.anm-long-arrow-right:before {
    content: "\e9bb";
}
.anm-long-arrow-up:before {
    content: "\e9bc";
}
.anm-telegram:before {
    content: "\ec30";
}
.anm-telegram-plane:before {
    content: "\ec31";
}
.anm-upload:before {
    content: "\ea33";
}
.anm-uploanm-r:before {
    content: "\eb51";
}
.anm-uploanm-l:before {
    content: "\ec1a";
}
.anm-window-restore:before {
    content: "\ea41";
}
.anm-window-restore-r:before {
    content: "\eb5e";
}
.anm-book:before {
    content: "\e93b";
}
.anm-book-r:before {
    content: "\ea6a";
}
.anm-briefcase:before {
    content: "\e93c";
}
.anm-briefcase-r:before {
    content: "\ea6b";
}
.anm-calculator:before {
    content: "\e940";
}
.anm-calculator-r:before {
    content: "\ea6e";
}
.anm-calculator-l:before {
    content: "\eb83";
}
.anm-calendar:before {
    content: "\f073";
}
.anm-columns:before {
    content: "\ea98";
}
.anm-copy:before {
    content: "\e970";
}
.anm-copy-l:before {
    content: "\eba5";
}
.anm-download:before {
    content: "\e976";
}
.anm-downloanm-r:before {
    content: "\eaa6";
}
.anm-paper-r-plane:before {
    content: "\eaeb";
}
.anm-paper-l-plane:before {
    content: "\ebd7";
}
.anm-portrait-l:before {
    content: "\ebe4";
}
.anm-save:before {
    content: "\e9f4";
}
.anm-save-r:before {
    content: "\eb1b";
}
.anm-save-l:before {
    content: "\ebf2";
}
.anm-server:before {
    content: "\f233";
}
.anm-server-r:before {
    content: "\eb20";
}
.anm-server-l:before {
    content: "\ebf6";
}
.anm-id-badge:before {
    content: "\e9a2";
}
.anm-id-badge-r:before {
    content: "\eabc";
}
.anm-id-card:before {
    content: "\e9a3";
}
.anm-id-card-r:before {
    content: "\eabd";
}
.anm-id-card-l:before {
    content: "\ebbe";
}
.anm-image:before {
    content: "\e9a4";
}
.anm-image-r:before {
    content: "\eabe";
}
.anm-images-r:before {
    content: "\eabf";
}
.anm-inbox:before {
    content: "\e9a6";
}
.anm-inbox-in:before {
    content: "\e9a7";
}
.anm-inbox-in-r:before {
    content: "\eac0";
}
.anm-inbox-out:before {
    content: "\e9a8";
}
.anm-inbox-out-r:before {
    content: "\eac1";
}
.anm-tag:before {
    content: "\ea1e";
}
.anm-tags:before {
    content: "\ea1f";
}
.anm-tag-r:before {
    content: "\eb39";
}
.anm-tags-r:before {
    content: "\eb3a";
}
.anm-tag-l:before {
    content: "\ec08";
}
.anm-tags-l:before {
    content: "\ec09";
}
.anm-newspaper:before {
    content: "\eae4";
}
.anm-newspaper-r:before {
    content: "\ebd6";
}
.anm-clipboard:before {
    content: "\f0ea";
}
.anm-paste:before {
    content: "\f0ea";
}
.anm-address-book-o:before {
    content: "\f2ba";
}
.anm-address-book:before {
    content: "\e900";
}
.anm-address-card:before {
    content: "\e901";
}
.anm-address-book-r:before {
    content: "\ebbd";
}
.anm-folder:before {
    content: "\e999";
}
.anm-folder-open:before {
    content: "\e99a";
}
.anm-browser:before {
    content: "\ea6c";
}
.anm-folder-r:before {
    content: "\eab5";
}
.anm-folder-open-r:before {
    content: "\eab6";
}
.anm-folder-l:before {
    content: "\ebb7";
}
.anm-folder-open-l:before {
    content: "\ebb8";
}
.anm-file-text-o:before {
    content: "\f0f6";
}
.anm-copy-files-o:before {
    content: "\f0c5";
}
.anm-file-alt:before {
    content: "\e992";
}
.anm-file-check:before {
    content: "\e993";
}
.anm-file-code:before {
    content: "\e994";
}
.anm-file-pdf:before {
    content: "\e995";
}
.anm-file-ar:before {
    content: "\ebb5";
}
.anm-sliders-h-square:before {
    content: "\ea08";
}
.anm-sliders-hr-square:before {
    content: "\eb2d";
}
.anm-tuning:before {
    content: "\ec46";
}
.anm-ban:before {
    content: "\e938";
}
.anm-ban-r:before {
    content: "\ea65";
}
.anm-bars:before {
    content: "\e939";
}
.anm-bars-r:before {
    content: "\ea66";
}
.anm-bars-l:before {
    content: "\eb7f";
}
.anm-chain:before {
    content: "\f0c1";
}
.anm-link3:before {
    content: "\f0c1";
}
.anm-circle-notch:before {
    content: "\e968";
}
.anm-circle-notch-r:before {
    content: "\ea92";
}
.anm-clone:before {
    content: "\f24d";
}
.anm-cog:before {
    content: "\f013";
}
.anm-gear:before {
    content: "\f013";
}
.anm-cog-r:before {
    content: "\ea96";
}
.anm-cog-l:before {
    content: "\eba0";
}
.anm-cogs:before {
    content: "\f085";
}
.anm-gears:before {
    content: "\f085";
}
.anm-cogs-r:before {
    content: "\ea97";
}
.anm-cogs-l:before {
    content: "\eba1";
}
.anm-edit1:before {
    content: "\ec47";
}
.anm-edit:before {
    content: "\e977";
}
.anm-edit-l:before {
    content: "\eba9";
}
.anm-edit4:before {
    content: "\f044";
}
.anm-pencil-square-o:before {
    content: "\f044";
}
.anm-ellipsis-h:before {
    content: "\e978";
}
.anm-ellipsis-hl:before {
    content: "\eaa8";
}
.anm-ellipsis-h3:before {
    content: "\f141";
}
.anm-ellipsis-v:before {
    content: "\e979";
}
.anm-ellipsis-vl:before {
    content: "\eaa9";
}
.anm-ellipsis-v3:before {
    content: "\f142";
}
.anm-expand-alt:before {
    content: "\e982";
}
.anm-compress-alt:before {
    content: "\ea9c";
}
.anm-expand:before {
    content: "\e981";
}
.anm-expand-wide:before {
    content: "\e985";
}
.anm-external-link:before {
    content: "\e986";
}
.anm-external-link-square:before {
    content: "\e988";
}
.anm-link:before {
    content: "\e9b3";
}
.anm-link-r:before {
    content: "\eac9";
}
.anm-list:before {
    content: "\e9b4";
}
.anm-list-alt:before {
    content: "\e9b5";
}
.anm-list-alt-r:before {
    content: "\eacc";
}
.anm-list-ul:before {
    content: "\e9b6";
}
.anm-list-ulr:before {
    content: "\eace";
}
.anm-list-r:before {
    content: "\eacb";
}
.anm-list-l:before {
    content: "\ebc6";
}
.anm-list4:before {
    content: "\f03a";
}
.anm-minus:before {
    content: "\e9c7";
}
.anm-minus-circle:before {
    content: "\e9c8";
}
.anm-minus-circle-r:before {
    content: "\ead9";
}
.anm-minus-circle-l:before {
    content: "\ebd2";
}
.anm-minus-square:before {
    content: "\e9c9";
}
.anm-minus-square-r:before {
    content: "\eada";
}
.anm-minus-square-l:before {
    content: "\ebd3";
}
.anm-minus-r:before {
    content: "\ead8";
}
.anm-minus-l:before {
    content: "\ebd1";
}
.anm-pen-alt:before {
    content: "\eaf1";
}
.anm-pen-square:before {
    content: "\eaf4";
}
.anm-pen-square-l:before {
    content: "\ebdb";
}
.anm-pencil:before {
    content: "\eaf2";
}
.anm-pencil-alt:before {
    content: "\e9d1";
}
.anm-pencil-ar:before {
    content: "\eaf3";
}
.anm-pencil-al:before {
    content: "\ebda";
}
.anm-pencil-square:before {
    content: "\f14b";
}
.anm-pencil-l:before {
    content: "\ebd9";
}
.anm-plus:before {
    content: "\e9d6";
}
.anm-plus-circle:before {
    content: "\e9d7";
}
.anm-plus-cir:before {
    content: "\eafc";
}
.anm-plus-cil:before {
    content: "\ebe1";
}
.anm-plus-square:before {
    content: "\e9d8";
}
.anm-plus-sqr:before {
    content: "\eafd";
}
.anm-plus-sql:before {
    content: "\ebe2";
}
.anm-plus-r:before {
    content: "\eafb";
}
.anm-plus-l:before {
    content: "\ebe0";
}
.anm-power-off:before {
    content: "\e9dc";
}
.anm-power-off-r:before {
    content: "\eb02";
}
.anm-random:before {
    content: "\e9e4";
}
.anm-random-r:before {
    content: "\eb0c";
}
.anm-recycle:before {
    content: "\e9e5";
}
.anm-recycle-r:before {
    content: "\eb0d";
}
.anm-recycle-l:before {
    content: "\ebec";
}
.anm-redo:before {
    content: "\e9e6";
}
.anm-redo-alt:before {
    content: "\e9e7";
}
.anm-redo-ar:before {
    content: "\eb0f";
}
.anm-redo-r:before {
    content: "\eb0e";
}
.anm-redo-l:before {
    content: "\ebed";
}
.anm-refresh:before {
    content: "\f021";
}
.anm-repeat:before {
    content: "\e9e8";
}
.anm-repeat-alt:before {
    content: "\eb12";
}
.anm-repeat-r:before {
    content: "\eb11";
}
.anm-repeat3:before {
    content: "\f01e";
}
.anm-rotate-right:before {
    content: "\f01e";
}
.anm-reply:before {
    content: "\e9ec";
}
.anm-reply-all:before {
    content: "\e9ed";
}
.anm-reply-all-r:before {
    content: "\eb14";
}
.anm-reply-r:before {
    content: "\eb13";
}
.anm-retweet:before {
    content: "\e9ee";
}
.anm-retweet-r:before {
    content: "\eb15";
}
.anm-retweet3:before {
    content: "\f079";
}
.anm-rotate-left:before {
    content: "\f0e2";
}
.anm-undo4:before {
    content: "\f0e2";
}
.anm-share:before {
    content: "\e9f9";
}
.anm-share-all:before {
    content: "\e9fa";
}
.anm-share-all-r:before {
    content: "\eb22";
}
.anm-share-square:before {
    content: "\e9fd";
}
.anm-share-sqr:before {
    content: "\eb25";
}
.anm-share-r:before {
    content: "\eb21";
}
.anm-sign-in-alt:before {
    content: "\ea05";
}
.anm-sign-in-ar:before {
    content: "\eb29";
}
.anm-sign-in-al:before {
    content: "\ebfb";
}
.anm-sign-out-alt:before {
    content: "\ea06";
}
.anm-sign-out-ar:before {
    content: "\eb2a";
}
.anm-sign-out-al:before {
    content: "\ebfc";
}
.anm-sitemap-r:before {
    content: "\eb2b";
}
.anm-sitemap-l:before {
    content: "\ebfd";
}
.anm-sliders:before {
    content: "\f1de";
}
.anm-sliders-h:before {
    content: "\eb2c";
}
.anm-sliders-hr:before {
    content: "\ebfe";
}
.anm-sliders-v:before {
    content: "\eb2e";
}
.anm-sliders-v-square:before {
    content: "\ea09";
}
.anm-sliders-v-sqr:before {
    content: "\eb2f";
}
.anm-sliders-vr:before {
    content: "\ebff";
}
.anm-sort-amount-down:before {
    content: "\ea0b";
}
.anm-sort-amount-up:before {
    content: "\ea0c";
}
.anm-spinner:before {
    content: "\ea0d";
}
.anm-spinner-r:before {
    content: "\eb30";
}
.anm-spinner-l:before {
    content: "\ec00";
}
.anm-spinner4:before {
    content: "\f110";
}
.anm-sync:before {
    content: "\ea18";
}
.anm-sync-ar:before {
    content: "\eb34";
}
.anm-table:before {
    content: "\ea1a";
}
.anm-table-r:before {
    content: "\eb35";
}
.anm-table3:before {
    content: "\f0ce";
}
.anm-th:before {
    content: "\ea20";
}
.anm-th-large:before {
    content: "\ea21";
}
.anm-th-large-r:before {
    content: "\eb3d";
}
.anm-th-large-l:before {
    content: "\ec0b";
}
.anm-th-list:before {
    content: "\ea22";
}
.anm-th-list-r:before {
    content: "\eb3e";
}
.anm-th-list-l:before {
    content: "\ec0c";
}
.anm-th-r:before {
    content: "\eb3c";
}
.anm-th-l:before {
    content: "\ec0a";
}
.anm-times:before {
    content: "\ea25";
}
.anm-times-circle:before {
    content: "\ea26";
}
.anm-times-cir:before {
    content: "\eb42";
}
.anm-times-cil:before {
    content: "\ec10";
}
.anm-times-square:before {
    content: "\ea27";
}
.anm-times-sqr:before {
    content: "\eb43";
}
.anm-times-sql:before {
    content: "\ec11";
}
.anm-times-r:before {
    content: "\eb41";
}
.anm-times-l:before {
    content: "\ec0f";
}
.anm-toggle-off:before {
    content: "\ea28";
}
.anm-toggle-offr:before {
    content: "\eb44";
}
.anm-toggle-on:before {
    content: "\ea29";
}
.anm-toggle-onr:before {
    content: "\eb45";
}
.anm-trash-alt:before {
    content: "\ea2b";
}
.anm-trash-ar:before {
    content: "\eb46";
}
.anm-trash-al:before {
    content: "\ec14";
}
.anm-undo:before {
    content: "\ea2f";
}
.anm-undo-alt:before {
    content: "\ea30";
}
.anm-undo-r:before {
    content: "\eb4a";
}
.anm-undo-l:before {
    content: "\ec16";
}
.anm-window-close:before {
    content: "\ea40";
}
.anm-window-close-r:before {
    content: "\eb5d";
}
.anm-wrench:before {
    content: "\ea43";
}
.anm-wrench-r:before {
    content: "\ec21";
}
.anm-exclamation:before {
    content: "\e97d";
}
.anm-exclamation-circle:before {
    content: "\e97e";
}
.anm-exclamation-cir:before {
    content: "\eaac";
}
.anm-exclamation-cil:before {
    content: "\ebad";
}
.anm-exclamation-square:before {
    content: "\e97f";
}
.anm-exclamation-sqr:before {
    content: "\eaad";
}
.anm-exclamation-sql:before {
    content: "\ebae";
}
.anm-exclamation-triangle:before {
    content: "\e980";
}
.anm-exclamation-tr:before {
    content: "\eaae";
}
.anm-exclamation-tl:before {
    content: "\ebaf";
}
.anm-exclamation-r:before {
    content: "\ebac";
}
.anm-info:before {
    content: "\e9ac";
}
.anm-info-circle:before {
    content: "\e9ad";
}
.anm-info-cir:before {
    content: "\eac3";
}
.anm-info-cil:before {
    content: "\ebc0";
}
.anm-info-square:before {
    content: "\e9ae";
}
.anm-info-sqr:before {
    content: "\eac4";
}
.anm-info-sql:before {
    content: "\ebc1";
}
.anm-info-r:before {
    content: "\eac2";
}
.anm-info-l:before {
    content: "\ebbf";
}
.anm-question:before {
    content: "\e9df";
}
.anm-question-circle:before {
    content: "\e9e0";
}
.anm-question-cir:before {
    content: "\eb07";
}
.anm-question-cil:before {
    content: "\ebe8";
}
.anm-question-square:before {
    content: "\e9e1";
}
.anm-question-sqr:before {
    content: "\eb08";
}
.anm-question-sql:before {
    content: "\ebe9";
}
.anm-question-r:before {
    content: "\eb06";
}
.anm-question-l:before {
    content: "\ebe7";
}
.anm-quote-left:before {
    content: "\e9e2";
}
.anm-quote-r-left:before {
    content: "\eb0a";
}
.anm-quote-l-left:before {
    content: "\ebea";
}
.anm-quote-right:before {
    content: "\e9e3";
}
.anm-quote-r-right:before {
    content: "\eb0b";
}
.anm-quote-l-right:before {
    content: "\ebeb";
}
.anm-amazon:before {
    content: "\e90e";
}
.anm-android:before {
    content: "\e918";
}
.anm-apple:before {
    content: "\e922";
}
.anm-bar-chart:before {
    content: "\f080";
}
.anm-bar-chart-o:before {
    content: "\f080";
}
.anm-bell-o:before {
    content: "\f0a2";
}
.anm-bell2:before {
    content: "\eb80";
}
.anm-birthday-cake:before {
    content: "\e93a";
}
.anm-birthday-cake-r:before {
    content: "\ea69";
}
.anm-bug:before {
    content: "\e93d";
}
.anm-vh-bus:before {
    content: "\e93f";
}
.anm-vh-bus-r:before {
    content: "\ea6d";
}
.anm-vh-bus-l:before {
    content: "\eb82";
}
.anm-certificate:before {
    content: "\e953";
}
.anm-child:before {
    content: "\e967";
}
.anm-clock:before {
    content: "\ea93";
}
.anm-clock-r:before {
    content: "\eb9e";
}
.anm-code:before {
    content: "\e96a";
}
.anm-code-r:before {
    content: "\ea95";
}
.anm-comment:before {
    content: "\e96d";
}
.anm-comment-alt:before {
    content: "\e96e";
}
.anm-comment-ar:before {
    content: "\ea9a";
}
.anm-comment-al:before {
    content: "\eba3";
}
.anm-comment-r:before {
    content: "\ea99";
}
.anm-comment-l:before {
    content: "\eba2";
}
.anm-comments:before {
    content: "\e96f";
}
.anm-comments-o:before {
    content: "\f0e6";
}
.anm-comments-r:before {
    content: "\ea9b";
}
.anm-comments-l:before {
    content: "\eba4";
}
.anm-css3-alt:before {
    content: "\eab4";
}
.anm-dashboard:before {
    content: "\f0e4";
}
.anm-tachometer:before {
    content: "\f0e4";
}
.anm-database:before {
    content: "\eaa2";
}
.anm-desktop:before {
    content: "\eaa3";
}
.anm-desktop-alt:before {
    content: "\e974";
}
.anm-desktop-ar:before {
    content: "\eaa4";
}
.anm-envelope:before {
    content: "\e97a";
}
.anm-envelope-square:before {
    content: "\e97b";
}
.anm-envelope-r:before {
    content: "\eaaa";
}
.anm-envelope-l:before {
    content: "\ebaa";
}
.anm-envelope1:before {
    content: "\ec48";
}
.anm-expeditedssl:before {
    content: "\eaec";
}
.anm-eye:before {
    content: "\e98a";
}
.anm-eye-slash:before {
    content: "\e98b";
}
.anm-eye-slash2:before {
    content: "\f070";
}
.anm-eye-slash-l:before {
    content: "\ebb3";
}
.anm-eye-r:before {
    content: "\eab1";
}
.anm-eye-l:before {
    content: "\ebb2";
}
.anm-female:before {
    content: "\e98f";
}
.anm-filter:before {
    content: "\e996";
}
.anm-filter-r:before {
    content: "\eab3";
}
.anm-filter-l:before {
    content: "\ebb6";
}
.anm-flag:before {
    content: "\f024";
}
.anm-flag-o:before {
    content: "\f11d";
}
.anm-gift:before {
    content: "\e99c";
}
.anm-gift-r:before {
    content: "\eab7";
}
.anm-gift-l:before {
    content: "\ebb9";
}
.anm-handshake:before {
    content: "\e99e";
}
.anm-handshake-o:before {
    content: "\f2b5";
}
.anm-handshake-l:before {
    content: "\ebba";
}
.anm-heart:before {
    content: "\e99f";
}
.anm-heart-r:before {
    content: "\eaba";
}
.anm-heart-l:before {
    content: "\ebbb";
}
.anm-history:before {
    content: "\e9a0";
}
.anm-home:before {
    content: "\e9a1";
}
.anm-home-r:before {
    content: "\eabb";
}
.anm-home-l:before {
    content: "\ebbc";
}
.anm-html5:before {
    content: "\ebcc";
}
.anm-key:before {
    content: "\e9af";
}
.anm-key-r:before {
    content: "\eac5";
}
.anm-key-l:before {
    content: "\ebc2";
}
.anm-language:before {
    content: "\e9b1";
}
.anm-language2:before {
    content: "\f1ab";
}
.anm-laptop:before {
    content: "\e9b2";
}
.anm-laptop-r:before {
    content: "\ebc3";
}
.anm-life-ring:before {
    content: "\eac7";
}
.anm-lightbulb:before {
    content: "\eac8";
}
.anm-lightbulb-r:before {
    content: "\ebc4";
}
.anm-location:before {
    content: "\ec49";
}
.anm-lock:before {
    content: "\ead0";
}
.anm-lock-alt:before {
    content: "\e9b7";
}
.anm-lock-ar:before {
    content: "\ead1";
}
.anm-lock-al:before {
    content: "\ebc7";
}
.anm-lock-open:before {
    content: "\ead2";
}
.anm-lock-open-alt:before {
    content: "\e9b8";
}
.anm-lock-open-ar:before {
    content: "\ead3";
}
.anm-lock-open-al:before {
    content: "\ebc8";
}
.anm-map-marker-alt:before {
    content: "\e9c2";
}
.anm-map-marker-ar:before {
    content: "\ead5";
}
.anm-map-marker-al:before {
    content: "\ebcd";
}
.anm-map-signs:before {
    content: "\e9c4";
}
.anm-map-signs-r:before {
    content: "\ead7";
}
.anm-map-signs-l:before {
    content: "\ebd0";
}
.anm-medapps:before {
    content: "\ec04";
}
.anm-microsoft:before {
    content: "\ec12";
}
.anm-mobile:before {
    content: "\e9ca";
}
.anm-mobile-alt:before {
    content: "\e9cb";
}
.anm-mobile-ar:before {
    content: "\eadb";
}
.anm-mobile-android:before {
    content: "\e9cc";
}
.anm-mobile-android-alt:before {
    content: "\e9cd";
}
.anm-mobile-android-ar:before {
    content: "\eadc";
}
.anm-neuter:before {
    content: "\e9ce";
}
.anm-neuter-r:before {
    content: "\eae3";
}
.anm-neuter-l:before {
    content: "\ebcf";
}
.anm-pennant:before {
    content: "\e9d2";
}
.anm-qrcode:before {
    content: "\e9de";
}
.anm-qrcode2:before {
    content: "\eb05";
}
.anm-react:before {
    content: "\ec26";
}
.anm-shield:before {
    content: "\f132";
}
.anm-shield-alt:before {
    content: "\e9ff";
}
.anm-shield-check:before {
    content: "\ea00";
}
.anm-shield-check-r:before {
    content: "\e921";
}
.anm-signal:before {
    content: "\ea04";
}
.anm-search-sistrix:before {
    content: "\ec28";
}
.anm-sitemap:before {
    content: "\ea07";
}
.anm-slideshare:before {
    content: "\ec2a";
}
.anm-star:before {
    content: "\f005";
}
.anm-star-half-empty:before {
    content: "\f123";
}
.anm-star-half-full:before {
    content: "\f123";
}
.anm-star-half-o:before {
    content: "\f123";
}
.anm-star-o:before {
    content: "\f006";
}
.anm-suitcase:before {
    content: "\ea16";
}
.anm-sun:before {
    content: "\ea17";
}
.anm-tablet-alt:before {
    content: "\ea1b";
}
.anm-tablet-ar:before {
    content: "\eb36";
}
.anm-tablet-android-alt:before {
    content: "\ea1c";
}
.anm-tablet-android-ar:before {
    content: "\eb37";
}
.anm-tachometer-alt:before {
    content: "\ea1d";
}
.anm-tachometer-ar:before {
    content: "\eb38";
}
.anm-tachometer-al:before {
    content: "\ec07";
}
.anm-thumbs-down:before {
    content: "\ea23";
}
.anm-thumbs-down-r:before {
    content: "\eb3f";
}
.anm-thumbs-down-l:before {
    content: "\ec0d";
}
.anm-thumbs-up:before {
    content: "\ea24";
}
.anm-thumbs-up-r:before {
    content: "\eb40";
}
.anm-thumbs-up-l:before {
    content: "\ec0e";
}
.anm-trophy:before {
    content: "\f091";
}
.anm-trophy-alt:before {
    content: "\ea2d";
}
.anm-trophy-ar:before {
    content: "\eb48";
}
.anm-truck:before {
    content: "\ea2e";
}
.anm-truck-front:before {
    content: "\e90c";
}
.anm-truck-line:before {
    content: "\e90d";
}
.anm-truck-r:before {
    content: "\eb49";
}
.anm-truck-l:before {
    content: "\ec15";
}
.anm-unlock:before {
    content: "\ea31";
}
.anm-unlock-alt:before {
    content: "\ea32";
}
.anm-unlock-ar:before {
    content: "\eb50";
}
.anm-unlock-al:before {
    content: "\ec19";
}
.anm-unlock-r:before {
    content: "\eb4f";
}
.anm-unlock-l:before {
    content: "\ec18";
}
.anm-wifi:before {
    content: "\ea3f";
}
.anm-wifi-r:before {
    content: "\eb5c";
}
.anm-wifi3:before {
    content: "\f1eb";
}
.anm-group:before {
    content: "\f0c0";
}
.anm-users4:before {
    content: "\f0c0";
}
.anm-user-circle-o:before {
    content: "\f2be";
}
.anm-user:before {
    content: "\ea36";
}
.anm-user-alt:before {
    content: "\ea37";
}
.anm-user-circle:before {
    content: "\ea38";
}
.anm-user-plus:before {
    content: "\ea39";
}
.anm-users:before {
    content: "\ea3a";
}
.anm-user-r:before {
    content: "\eb54";
}
.anm-user-ar:before {
    content: "\eb55";
}
.anm-user-cir:before {
    content: "\eb56";
}
.anm-user-plus-r:before {
    content: "\eb58";
}
.anm-users-r:before {
    content: "\eb59";
}
.anm-user-times2:before {
    content: "\eb5a";
}
.anm-user-l:before {
    content: "\ec1b";
}
.anm-user-al:before {
    content: "\ec1c";
}
.anm-user-cil:before {
    content: "\ec1d";
}
.anm-users-l:before {
    content: "\ec1e";
}
.anm-bag4:before {
    content: "\f290";
}
.anm-basket4:before {
    content: "\f291";
}
.anm-cart-2-s:before {
    content: "\ec41";
}
.anm-cart-1-l:before {
    content: "\ec43";
}
.anm-shopping-cart4:before {
    content: "\ec45";
}
.anm-cart-arrow-down:before {
    content: "\e951";
}
.anm-cart-plus:before {
    content: "\e952";
}
.anm-bag:before {
    content: "\ea01";
}
.anm-basket:before {
    content: "\ea02";
}
.anm-cart-s:before {
    content: "\ea03";
}
.anm-cart-arrow-down-r:before {
    content: "\ea7d";
}
.anm-cart-plus-r:before {
    content: "\ea7e";
}
.anm-bag-r:before {
    content: "\eb26";
}
.anm-basket-r:before {
    content: "\eb27";
}
.anm-cart-r:before {
    content: "\eb28";
}
.anm-bag-l:before {
    content: "\ebf8";
}
.anm-basket-l:before {
    content: "\ebf9";
}
.anm-cart-l:before {
    content: "\ebfa";
}
.anm-camera-alt:before {
    content: "\e942";
}
.anm-camera-retro:before {
    content: "\e943";
}
.anm-camera-ar:before {
    content: "\ea70";
}
.anm-camera-al:before {
    content: "\eb84";
}
.anm-check-square-o:before {
    content: "\f046";
}
.anm-check-badge:before {
    content: "\e937";
}
.anm-check:before {
    content: "\e954";
}
.anm-check-circle:before {
    content: "\e955";
}
.anm-check-square:before {
    content: "\e956";
}
.anm-check-badge-r:before {
    content: "\ea64";
}
.anm-check-r:before {
    content: "\ea7f";
}
.anm-check-cir:before {
    content: "\ea80";
}
.anm-check-sqr:before {
    content: "\ea81";
}
.anm-check-cil:before {
    content: "\eb8c";
}
.anm-check-sql:before {
    content: "\eb8d";
}
.anm-search-s:before {
    content: "\ec44";
}
.anm-search-glass:before {
    content: "\ec4a";
}
.anm-search7:before {
    content: "\ec4b";
}
.anm-search:before {
    content: "\e9f5";
}
.anm-search-r:before {
    content: "\eb1d";
}
.anm-search-minus-r:before {
    content: "\eb1e";
}
.anm-search-plus-r:before {
    content: "\eb1f";
}
.anm-search-l:before {
    content: "\ebf3";
}
.anm-search-minus-l:before {
    content: "\ebf4";
}
.anm-search-plus-l:before {
    content: "\ebf5";
}
.anm-phone-tel:before {
    content: "\e920";
}
.anm-phone-call-r:before {
    content: "\e91e";
}
.anm-phone-call-l:before {
    content: "\e91f";
}
.anm-phone-old:before {
    content: "\e90b";
}
.anm-phone-s:before {
    content: "\e9d3";
}
.anm-phone-square:before {
    content: "\e9d4";
}
.anm-phone-volume:before {
    content: "\e9d5";
}
.anm-phone-r:before {
    content: "\eaf5";
}
.anm-phone-sqr:before {
    content: "\eaf6";
}
.anm-phone-l:before {
    content: "\ebdc";
}
.anm-phone-sql:before {
    content: "\ebdd";
}
.anm-phone:before {
    content: "\f095";
}
.anm-phone-square4:before {
    content: "\f098";
}
.anm-microphone:before {
    content: "\e9c5";
}
.anm-microphone-alt:before {
    content: "\e9c6";
}
.anm-bullhorn:before {
    content: "\f0a1";
}
.anm-mobile2:before {
    content: "\f10b";
}
.anm-fax:before {
    content: "\e98e";
}
.anm-fax-r:before {
    content: "\ebb4";
}
.anm-print:before {
    content: "\f02f";
}
.anm-print-r:before {
    content: "\eb03";
}
.anm-print-l:before {
    content: "\ebe6";
}
.anm-ruble-sign:before {
    content: "\e9f2";
}
.anm-ruble-sign-r:before {
    content: "\eb19";
}
.anm-ruble-sign-l:before {
    content: "\ebf0";
}
.anm-dollar-sign:before {
    content: "\e975";
}
.anm-dollar-sign-r:before {
    content: "\eaa5";
}
.anm-dollar-sign-l:before {
    content: "\eba8";
}
.anm-aws:before {
    content: "\e96b";
}
.anm-btc:before {
    content: "\e9ea";
}
.anm-amazon-pay:before {
    content: "\e915";
}
.anm-apple-pay:before {
    content: "\e92f";
}
.anm-bitcoin:before {
    content: "\e991";
}
.anm-cc:before {
    content: "\f20a";
}
.anm-cc-amazon-pay:before {
    content: "\e9ef";
}
.anm-cc-amex:before {
    content: "\e9f8";
}
.anm-cc-apple-pay:before {
    content: "\ea0e";
}
.anm-cc-diners-club:before {
    content: "\ea0f";
}
.anm-cc-discover:before {
    content: "\ea19";
}
.anm-cc-jcb:before {
    content: "\ea2a";
}
.anm-cc-mastercard:before {
    content: "\ea2c";
}
.anm-cc-paypal:before {
    content: "\ea3e";
}
.anm-cc-stripe:before {
    content: "\ea42";
}
.anm-cc-visa:before {
    content: "\ea67";
}
.anm-credit-card:before {
    content: "\e972";
}
.anm-credit-card-blank:before {
    content: "\eaa0";
}
.anm-credit-card-front:before {
    content: "\e973";
}
.anm-credit-card-front-r:before {
    content: "\eaa1";
}
.anm-credit-card-r:before {
    content: "\ea9f";
}
.anm-credit-card-l:before {
    content: "\eba7";
}
.anm-euro-sign:before {
    content: "\e97c";
}
.anm-euro-sign-r:before {
    content: "\eaab";
}
.anm-euro-sign-l:before {
    content: "\ebab";
}
.anm-money-bill:before {
    content: "\eadd";
}
.anm-money-bill-alt:before {
    content: "\eade";
}
.anm-money-bill-ar:before {
    content: "\ebd5";
}
.anm-money-bill-r:before {
    content: "\ebd4";
}
.anm-paypal:before {
    content: "\ec20";
}
.anm-pound-sign:before {
    content: "\e9db";
}
.anm-pound-sign-r:before {
    content: "\eb01";
}
.anm-pound-sign-l:before {
    content: "\ebe5";
}
.anm-rupee-sign:before {
    content: "\e9f3";
}
.anm-rupee-sign-r:before {
    content: "\eb1a";
}
.anm-rupee-sign-l:before {
    content: "\ebf1";
}
.anm-stripe:before {
    content: "\ec2f";
}
.anm-yen-sign:before {
    content: "\ea44";
}
.anm-yen-sign-r:before {
    content: "\eb61";
}
.anm-yen-sign-l:before {
    content: "\ec22";
}
.anm-viber:before {
    content: "\ec38";
}
.anm-globe:before {
    content: "\eab8";
}
.anm-rss:before {
    content: "\e9f0";
}
.anm-rss-square:before {
    content: "\e9f1";
}
.anm-rss-sqr:before {
    content: "\eb18";
}
.anm-rss-sql:before {
    content: "\ebef";
}
.anm-rss-r:before {
    content: "\eb17";
}
.anm-safari:before {
    content: "\ec27";
}
.anm-share-alt:before {
    content: "\e9fb";
}
.anm-share-alt-square:before {
    content: "\e9fc";
}
.anm-share-ar-square:before {
    content: "\eb24";
}
.anm-share-al-square:before {
    content: "\ebf7";
}
.anm-share-ar:before {
    content: "\eb23";
}
.anm-spotify:before {
    content: "\ec2e";
}
.anm-tripadvisor:before {
    content: "\ec32";
}
.anm-whatsapp:before {
    content: "\ec3d";
}
.anm-whatsapp-square:before {
    content: "\ec3e";
}
.anm-flickr:before {
    content: "\eb4e";
}
.anm-flipboard:before {
    content: "\eb57";
}
.anm-skype:before {
    content: "\ec29";
}
.anm-codepen:before {
    content: "\ea68";
}
.anm-behance:before {
    content: "\e96c";
}
.anm-behance-square:before {
    content: "\e990";
}
.anm-blogger:before {
    content: "\e997";
}
.anm-blogger-b:before {
    content: "\e998";
}
.anm-delicious:before {
    content: "\eab9";
}
.anm-deviantart:before {
    content: "\eac6";
}
.anm-digg:before {
    content: "\eacd";
}
.anm-dribbble:before {
    content: "\ead4";
}
.anm-dribbble-square:before {
    content: "\eae5";
}
.anm-dropbox:before {
    content: "\eae6";
}
.anm-facebook:before {
    content: "\eaed";
}
.anm-facebook-f:before {
    content: "\eafa";
}
.anm-facebook-messenger:before {
    content: "\eb31";
}
.anm-facebook-square:before {
    content: "\eb47";
}
.anm-google:before {
    content: "\eb8a";
}
.anm-google-drive:before {
    content: "\eb8b";
}
.anm-google-play:before {
    content: "\eba6";
}
.anm-google-plus:before {
    content: "\ebc5";
}
.anm-google-plus-g:before {
    content: "\ebc9";
}
.anm-google-plus-square:before {
    content: "\ebca";
}
.anm-google-wallet:before {
    content: "\ebcb";
}
.anm-instagram:before {
    content: "\ec01";
}
.anm-linkedin:before {
    content: "\ec02";
}
.anm-linkedin-in:before {
    content: "\ec03";
}
.anm-linkedin-square:before {
    content: "\f08c";
}
.anm-pinterest:before {
    content: "\ec23";
}
.anm-pinterest-p:before {
    content: "\ec24";
}
.anm-pinterest-square:before {
    content: "\ec25";
}
.anm-snapchat:before {
    content: "\ec2b";
}
.anm-snapchat-ghost:before {
    content: "\ec2c";
}
.anm-snapchat-square:before {
    content: "\ec2d";
}
.anm-tumblr:before {
    content: "\ec33";
}
.anm-tumblr-square:before {
    content: "\ec34";
}
.anm-twitter:before {
    content: "\ec36";
}
.anm-twitter-square:before {
    content: "\ec37";
}
.anm-vimeo:before {
    content: "\ec39";
}
.anm-vimeo-square:before {
    content: "\ec3a";
}
.anm-vimeo-v:before {
    content: "\ec3b";
}
.anm-youtube:before {
    content: "\ec3f";
}
.anm-youtube-square:before {
    content: "\ec40";
}
.anm-youtube-square2:before {
    content: "\f166";
}
.anm-youtube2:before {
    content: "\f167";
}
.anm-forward:before {
    content: "\e99b";
}
.anm-backward:before {
    content: "\e936";
}
.anm-backward-r:before {
    content: "\ea63";
}
.anm-backward-l:before {
    content: "\eb7e";
}
.anm-fast-backward:before {
    content: "\e98c";
}
.anm-fast-forward:before {
    content: "\e98d";
}
.anm-pause:before {
    content: "\eaee";
}
.anm-pause-circle:before {
    content: "\eaef";
}
.anm-pause-cil:before {
    content: "\ebd8";
}
.anm-play:before {
    content: "\eaf8";
}
.anm-play-circle:before {
    content: "\eaf9";
}
.anm-play-cir:before {
    content: "\ebdf";
}
.anm-play-r:before {
    content: "\ebde";
}
.anm-podcast:before {
    content: "\e9d9";
}
.anm-podcast-r:before {
    content: "\eafe";
}
.anm-podcast-l:before {
    content: "\ebe3";
}
.anm-step-backward:before {
    content: "\ea10";
}
.anm-step-backward-r:before {
    content: "\eb32";
}
.anm-stop:before {
    content: "\ea12";
}
.anm-stop-circle:before {
    content: "\ea13";
}
.anm-video:before {
    content: "\ea3c";
}
.anm-video-r:before {
    content: "\eb5b";
}
